body {
    color: #999;
}

.field {
    width: 500px;
    height: 500px;
    border: 2px solid #444;
}

.cell {
    width: 120px;
    height: 120px;
    border: 1px solid #444;
    display: inline-block;
}